section{
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
}

section .imgBox {
    position: relative;
    height: 100%;
    width: 50%;
}

section .imgBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg, #88fce345, #b0d4e37c);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imgBox img {
    position:absolute;
    top:0%;
    left:0%;
    height: 100%;
    width: 100%;
    object-fit:cover;
}

section .contentBox {
    display: flex;
    justify-items:center;
    align-items: center;
    width:50%;
    height:100%;
}

section .contentBox .formBox{
    width: 50%;
    padding: auto;
    left: 60%;
}

section .contentBox h2{
    color: #008080;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid tan;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBox input{
    left: 70%;
}

section .contentBox input[class="form-control"]{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    left: 40%;
    font-weight: 400;
    border: 1px solid cadetblue;
    font-size: 16px;
    letter-spacing: 1px;
    color: aqua;
    background: transparent;
    border-radius: 30px;
}